
.heading
{
color:bisque;
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 38px;
color: royalblue;
font-family: cursive;
box-shadow:ivory 15px;
}

body{
   box-shadow:cornflowerblue 15px;

      background-image: linear-gradient(to right,#d53815,#ff6e40,#ffc13b);
    }


    h1,h3{
      color:black;
    }
